@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(228, 155, 72);

body {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-family: "Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif";
    font-size: 23px;
}

.container {
    width: 10%;
    margin: 0 auto;
}

.title{
    font-size: 35px;
    padding-top: 3px;
    padding-bottom : 3px;
    letter-spacing: -.5px;
    line-height: 52px;
    font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
    text-align: center;

}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: rgb(5, 5, 5);
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }
    .logo{
        text-align: center;
        font-size: 40px;

    }
    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}